/*
 * CONTENT
 * ----------------------------------------- */
#main-content {
  background-color: white;
  color: var(--text-color);

  border-radius: .4rem;
}

#main-content p a,
#main-content li a {
  color: var(--red);
  border-bottom: 1px dotted var(--border-color);

  transition: border 200ms linear;
}

#main-content p a:hover,
#main-content li a:hover {
  border-color: var(--red);
}

@media (max-width: 500px) {
  #main-content {
    border-radius: 0;
  }
}