/*
 * GALLERY
 * ----------------------------------------- */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  margin-bottom: 3rem;
}

.image-gallery > .caption {
  grid-column: 1 / -1;
}

.image-gallery > .image {
  position: relative;
  padding: .4rem;
}

.image-gallery img {
  border-radius: .2rem;
}

.image-gallery > .image::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: linear-gradient(to bottom right, var(--dark-purple), var(--red));
  
  border-radius: .3rem;

  opacity: .4;
  content: '';
  transition: opacity 200ms linear;
}

.image-gallery > .image::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  
  color: white;
  
  z-index: 2;
  opacity: 0;

  content: 'Click to open';
  transform: translateY(1rem);
  transition: opacity 200ms linear, transform 300ms ease-out;
}

.image-gallery > .image:hover::after {
  opacity: 0;
}

.image-gallery > .image:hover::before {
  opacity: 1;
  
  transform: translateY(0);
}

@media (max-width: 800px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
}