/*
 * HEADER
 * ----------------------------------------- */
#main-header {
  padding: 10rem 5rem;

  text-align: center;

  animation: header-animation 600ms ease-out forwards;
}

#logo {
  display: inline-block;
  padding: 2rem;

  background-color: white;
  color: var(--light-blue);
  
  border-radius: 50%;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, .1);
}

#title {
  margin-bottom: 0;
    
  color: white;
  
  font-size: 4rem;
  text-shadow: 1px 1px 3px hsla(0, 0%, 0%, .2);
}

#subtitle {
  margin: 0 auto 3rem auto;
  max-width: 60%;
  
  color: var(--border-color);
  
  font-size: 1.8rem;
  line-height: 1.4;
}

@media (max-width: 1100px) {
  #subtitle {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  #main-header {
    padding: 5rem 1rem;
  }
}

@media (max-width: 500px) {
  #title {
    font-size: 3rem;
  }

  #subtitle {
    font-size: 1.4rem;
  }

  #main-header .button {
    display: flex;
  }
}