:root {
  --dark-purple: hsl(255, 31%, 44%);
  --light-purple: hsl(256, 29%, 70%);
  --red: hsl(353, 66%, 68%);
  --light-blue: hsl(203, 77%, 75%);
  --dark-blue: hsl(220, 54%, 75%);
  
  --light-gray: hsl(0, 0%, 97%);
  --text-color: hsl(0, 0%, 39%);
  --border-color: hsl(0, 0%, 87%);
}

body {
  font: 300 18px/1.7 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  background-image: linear-gradient(to left bottom, var(--dark-purple), var(--red));
}

.container {
  max-width: 85rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.main-header {
  padding: 10rem 5rem;

  text-align: center;

  animation: fade-in 600ms ease-in;
}

  .main-header > .logo {
    display: inline-block;
    padding: 1.7rem;

    background-color: white;
    color: var(--light-blue);
    
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  }

  .main-header > .title {
    margin-bottom: 0;
    
    color: white;
    
    font-size: 4rem;
  }

  .main-header > .description {
    margin: 0 auto 3rem auto;
    max-width: 60%;
    
    color: var(--border-color);
    
    font-size: 1.8rem;
  }

.main-content {
  background-color: white;
  color: var(--text-color);

  border-radius: .4rem;
}



/**
 * Main Navigation
 */
.main-navigation {
  padding: 1rem 5rem;
  position: sticky;
  top: 0;
  
  background-color: var(--light-gray);

  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;

  text-align: center;

  z-index: 9;
}

  .main-navigation > .link {
    display: inline-block;
    padding: .6rem 2rem;
    margin: 0 .5rem;

    border-radius: .3rem;
  }

    .main-navigation > .link:hover {
      background-color: hsla(0, 0%, 0%, 0.04);
    }

    .main-navigation > .link.-active {
      background-color: white;
    }



.feature {
  box-sizing: border-box;
  flex-basis: 33.3333%;
  padding: 0 2rem 3rem 2rem;

  text-align: center;
}

  .feature > .image {
    display: inline-block;
    padding: 1.5rem;
    
    border: 1px solid var(--border-color);
    border-radius: 50%;
    
    color: var(--red);
  }




.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  margin-bottom: 2rem;
}

  .image-gallery > .caption {
    grid-column: 1 / -1;
  }

  .image-gallery > .overlay {
    background-image: url('../images/icons/resize.svg'), linear-gradient(to bottom right, var(--light-blue), var(--red));
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 0 5px white, 0 0 0 6px var(--border-color);
  }

    .image-gallery > .overlay:hover > .image {
      mix-blend-mode: overlay;
    }


.section {
  padding: 5rem;
}

  .section:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }

.heading {
  margin: 0 auto 5rem auto;
  position: relative;
  width: max-content;
  
  font-size: 2.5rem;
}

  .heading::after {
    content: '';
    position: absolute;
    height: 2px;
    right: 25%;
    bottom: 0;
    left: 25%;

    background-image: linear-gradient(to left, var(--light-blue), var(--light-purple), var(--red));
  }

.button {
  display: inline-flex;
  align-items: center;
  padding: .7rem 2rem;
  
  border: 1px solid white;
  border-radius: .2rem;
  
  color: white;
  background-color: hsla(0, 0%, 100%, 0.05);
  
  cursor: default;
}

  .button > .icon {
    margin-right: .5rem;
  }

  .button:hover {
    background-color: hsla(0, 0%, 100%, 0.15);
  }



/**
 * Footer
 */
.main-footer {
  color: white;
}

  .main-footer .link {
    border-bottom: 1px solid var(--border-color);
  }


/**
 * Tables
 */
table {
  width: 100%;

  border-collapse: collapse;
}

thead {
  text-align: left;
}

tbody tr {
  border-top: 1px solid var(--border-color);
}

  tbody tr:hover {
    background-color: var(--light-gray);
  }

td:nth-child(3) {
  white-space: nowrap;
}

td, th {
  padding: .5rem 1.5rem;
}



/**
 * Keyframes
 */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.litebox-outer {
  z-index: 99;
}