.hero-unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30rem;
  background: white url('../images/hero-background.jpg') center/cover no-repeat;

  @media (max-width: 660px) {
    padding: 5rem $padding;
    height: auto;
  }
}