  $accent-color: rgb(246, 70, 70);
  $dark-gray: rgb(34, 37, 51);
  $gray: rgb(138, 142, 154);
  $light-gray: rgb(224, 224, 224);
  $bg-color: rgb(236, 240, 241);
  
  $border-radius: .3em;
  
  $container-width: 1170px;
  $padding: 1.5rem;