.litebox__button {
  padding: 0;
  margin: 0;

  position: absolute;
  width: $button-width;
  height: $button-width;

  border: none;
  
  background-color: $button-background;

  border-radius: $button-radius;
  box-shadow: 0 0.3em 1em rgba(0, 0, 0, .3);

  text-indent: -9999px;
  z-index: 5;
  cursor: pointer;
  outline: none;
  transition: background-color 100ms linear;

  &:hover, &:focus {
    background-color: $button-color;
  }
}

.litebox__button--close {
  right: -($button-width / 2);
  top: -($button-width / 2);

  &::before, &::after {
    position: absolute;
    width: 2px;
    height: 35px;
    top: calc(50% - 17.5px);
    left: calc(50% - 1px);
    
    content: '';

    background-color: $button-color;

    transition: background-color .2s ease-in-out;
  }
  
  &::before {
    transform: rotateZ(45deg);
  }
  
  &::after {
    transform: rotateZ(135deg);
  }

  &:hover::before, &:hover::after,
  &:focus::before, &:focus::after {
    background-color: $button-background;
  }
}

.litebox__button--next {
  right: -($button-width / 2);
  top: calc(50% - #{($button-width / 2)});

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 15px);
    
    content: '';
    
    border-right: 2px solid $button-color;
    border-top: 2px solid $button-color;

    transform: rotateZ(45deg);
    transition: border-color .2s ease-in-out;
  }

  &:hover::before, &:focus::before {
    border-color: $button-background;
  }
}

.litebox__button--prev {
  left: -($button-width / 2);
  top: calc(50% - #{($button-width / 2)});

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    right: calc(50% - 15px);
    
    content: '';
    
    border-left: 2px solid $button-color;
    border-bottom: 2px solid $button-color;

    transform: rotateZ(45deg);
    transition: border-color .2s ease-in-out;
  }

  &:hover::before, &:focus::before {
    border-color: $button-background;
  }
}