.litebox__loader {
  position: absolute;
  top: calc(50% - #{($loader-width / 2)});
  left: calc(50% - #{($loader-width / 2)});

  width: $loader-width;
  height: $loader-width;

  background-color: $loader-background;
  box-shadow: 0 0.3em 1em rgba(0, 0, 0, .3);
  
  border-radius: $loader-radius;
  
  text-indent: -9999px;
  z-index: 5;

  &::before, &::after {
    content: '';

    position: absolute;
    top: (($loader-width - $loader-spinner-width) / 2);
    left: (($loader-width - $loader-spinner-width) / 2);

    display: block;
    box-sizing: border-box;
    width: $loader-spinner-width;
  }

  &::before {
    height: $loader-spinner-width;

    border-radius: 50%;
    border: 2px solid $loader-color;
  }

  &::after {
    height: ($loader-spinner-width / 2);

    border: 2px solid white;

    background-color: white;

    animation: animate-loader 1s linear infinite;
    transform-origin: bottom;
  }
}

@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}