$text-color: #3a4a5a;

$button-background: rgb(255, 255, 255);
$button-color: rgb(227, 119, 132);
$button-radius: .3rem;
$button-width: 4rem;

$loader-color: rgb(227, 119, 132);
$loader-background: rgb(255, 255, 255);
$loader-width: 5rem;
$loader-radius: .3rem;
$loader-spinner-width: 3.5rem;