// Buttons
$btn-bg: rgba(255, 255, 255, .5);
$btn-icons: rgb(255, 255, 255);
$btn-hover: rgb(227, 119, 132);

$background: white;
$button-hover: rgb(255, 98, 71);


.litebox-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, .5);

  &.-hidden {
    pointer-events: none;
    opacity: 0;
  }

  &.-inactive {
    .litebox-button, .litebox-image-caption {
      opacity: 0;
    }
  }
}

.litebox-inner {
  max-width: 90vw;
  max-height: 90vh;
  
  position: relative;
}

.litebox-image-wrapper {
  margin: 0;
  position: relative;
  
  background-color: $background;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
}

.litebox-image {
  max-width: 90vw;
  max-height: 80vh;

  vertical-align: middle;
}

.litebox-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;

  background-color: $btn-bg;

  transition: opacity .2s ease-in-out;

  &.-hidden {
    display: none;
  }
}



/**
 * Buttons
 * ---------------------------------------------------------
 *
 * All litebox buttons share this class
 */
.litebox-button {
  position: absolute;
  width: 3rem;
  padding: 0;

  border: none;
  
  background-color: $btn-bg;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 9;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out;

  &:hover {
    background-color: $btn-icons;
  }

  &.-hidden {
    display: none;
  }
}

/*
 * "Close" button
 */
.litebox-button-close {
  top: 0;
  right: 0;
  height: 3rem;

  &::before, &::after {
    position: absolute;
    width: 2px;
    height: 25px;
    top: calc(50% - 12.5px);
    left: calc(50% - 1px);
    
    content: '';

    background-color: $btn-icons;

    transition: background-color .2s ease-in-out;
  }
  
  &::before {
    transform: rotateZ(45deg);
  }
  
  &::after {
    transform: rotateZ(135deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $btn-hover;
  }
}

/*
 * Common styles between the "next" and "prev" button
 */
.litebox-button-next,
.litebox-button-prev {
  top: calc(50% - 1.5rem);
  height: 6rem;
  
  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    
    content: '';

    transform: rotateZ(45deg);
    transition: border-color .2s ease-in-out;
  }

  &:hover::before {
    border-color: $btn-hover;
  }
}

/*
 * "Next image" Button
 */
.litebox-button-next {
  right: 0;

  &::before {
    right: 1.1rem;
    
    border-right: 2px solid $btn-icons;
    border-top: 2px solid $btn-icons;
  }
}

/*
 * "Previous image" Button
 */
.litebox-button-prev {
  left: 0;

  &::before {
    left: 1.1rem;
    
    border-left: 2px solid $btn-icons;
    border-bottom: 2px solid $btn-icons;
  }
}







.-fade-out {
  animation: fade-out 500ms ease-in-out 300ms forwards;
}

.-fade-out .litebox-inner {
  animation: hide-image-bottom 300ms cubic-bezier(.53,.06,.59,.54) forwards;
}

.-fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

.-fade-in .litebox-inner {
  transform: translateY(100px);
  opacity: 0;
  animation: show-image-bottom 300ms cubic-bezier(.53,.06,.59,.54) 500ms forwards;
}

.-hide-image-left .litebox-inner {
  animation: hide-image-left 300ms ease-in-out forwards;
}

.-hide-image-right .litebox-inner {
  animation: hide-image-right 300ms ease-in-out forwards;
}

.-show-image-left .litebox-inner {
  animation: show-image-left 300ms ease-in-out forwards;
}

.-show-image-right .litebox-inner {
  animation: show-image-right 300ms ease-in-out forwards;
}






@keyframes hide-image-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes hide-image-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes show-image-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-image-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hide-image-bottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes show-image-bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}